{% extends "inherit/base.html" %}
{% load static %}
{% block 'content' %}


<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>درباره ما</h1>
                            <p>با ما بیشتر آشنا شوید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="title">معرفی فروشگاه</div>
                            <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                            <p>صفحات و محتوای آزمایشی همیشه بخشی از محتوای پیش‌نمایش قالب و افزونه های وب هستند که شما بتوانید ارتباط درستی با پیش نمایش قالب گرفته و تصمیم مناسبی بگیرید. این صفحات معمولا برای اطلاعات کلی در مورد سایت مثل «درباره ما»، «تماس با ما»، «فهرست» یا «نظرات شما» مفید هستند.</p>
                            <p>بنابراین نگران ویرایش و بروزرسانی محتوای این نوع صفحات نباشید. شما می‌توانید به سادگی و تنها با چند کلیک وارد ناحیه مدیریت وب‌سایت خود شده و مطلب مربوطه را ویرایش کنید.<br>
                            این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                        </div>
                        <div class="col-12 col-lg-5 align-self-center h-100">
                            <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- Team -->
                    <div class="row pt-5">
                        <div class="col-12 text-center pt-4 pb-3">
                            <h2 class="center-title">تیم ما</h2>
                            <span class="sub-title">با تیم ما بیشتر آشنا شوید.</span>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Person Box -->
                            <figure class="team-person">
                                <div class="profile-image"><img src="{% static 'assets/images/team/team-person1.jpg' %}" alt="sample47" /></div>
                                <figcaption>
                                    <h3>مجید کیانی</h3>
                                    <h4>مدیر عامل</h4>
                                    <p>به عنوان مدیر عامل در تیم فعالیت دارد.</p>
                                    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
                                        <a href="#"> <i class="ion-social-twitter"></i></a>
                                        <a href="#"> <i class="ion-social-vimeo"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- /Person Box -->
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Person Box -->
                            <figure class="team-person">
                                <div class="profile-image"><img src="{% static 'assets/images/team/team-person2.jpg' %}" alt="sample47" /></div>
                                <figcaption>
                                    <h3>پوریا طلایی</h3>
                                    <h4>برنامه نویس</h4>
                                    <p>به عنوان برنامه نویس در تیم فعالیت دارد.</p>
                                    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
                                        <a href="#"> <i class="ion-social-twitter"></i></a>
                                        <a href="#"> <i class="ion-social-vimeo"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- /Person Box -->
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Person Box -->
                            <figure class="team-person">
                                <div class="profile-image"><img src="{% static 'assets/images/team/team-person3.jpg' %}" alt="sample47" /></div>
                                <figcaption>
                                    <h3>امیر جاوید</h3>
                                    <h4>تولید کننده محتوا</h4>
                                    <p>به عنوان تولید کننده محتوا در تیم فعالیت دارد.</p>
                                    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
                                        <a href="#"> <i class="ion-social-twitter"></i></a>
                                        <a href="#"> <i class="ion-social-vimeo"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- /Person Box -->
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Person Box -->
                            <figure class="team-person">
                                <div class="profile-image"><img src="{% static 'assets/images/team/team-person4.jpg' %}" alt="sample47" /></div>
                                <figcaption>
                                    <h3>وحید کمالی</h3>
                                    <h4>دیجیتال مارکتر</h4>
                                    <p>به عنوان دیجیتال مارکتر در تیم فعالیت دارد.</p>
                                    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
                                        <a href="#"> <i class="ion-social-twitter"></i></a>
                                        <a href="#"> <i class="ion-social-vimeo"></i></a>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- /Person Box -->
                        </div>
                    </div>
                    <!-- Team -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 'content'%}