{% extends "inherit/base.html" %}
{% load static %}
{% block 'content' %}

<section class="inner-page" id="profile-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ناحیه کاربری</h1>
                            <p>به ناحیه کاربری روبیک مارکت خوش آمدید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="#">ناحیه کاربری</a></li>
                                    <li class="breadcrumb-item" aria-current="page">سفارشات</li>
                                    <li class="breadcrumb-item active" aria-current="page">نمایش فاکتور</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <!-- Side Panel -->
                            <div class="accordion" id="side-panel">
                                <div class="accordion-item menu-container">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            <span class="row">
                                                <span class="col-3 col-sm-2 col-lg-3">
                                                    <img src="../assets/images/user-no-image.jpg" class="rounded-circle">
                                                </span>
                                                <span class="col-7 col-sm-8 col-lg-7 pt-0 pt-sm-2 pt-md-3 pt-lg-0 align-self-center">
                                                    <div id="full-name">مصطفی کلانتری</div>
                                                    <div class="mt-2" id="email-mobile">09351234567</div>
                                                </span>
                                            </span>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    <a href="personal-info.html" class="active">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/profile.webp" class="pl-2"></div> اطلاعات حساب
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="factors.html">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/orders.webp" class="pl-2"></div> سفارش های من
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="favorites.html">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/favorites.webp" class="pl-2"></div> علاقه مندی ها
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="addresses.html">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/addresses.webp" class="pl-2"></div> آدرس های من
                                                        </div>
                                                    </a>
                                                </li>
                                                <li><hr></li>
                                                <li>
                                                    <a href="../index.html">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/exit.webp" class="pl-2"></div> خروج از حساب
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">

                            <!-- Factors List -->
                            <div class="custom-container mt-2 order">
                                <div class="row pt-2 px-3">
                                    <div class="col-12 col-sm-6"><h2>سفارش شماره #1234</h2></div>
                                    <div class="col-12 col-sm-6 text-sm-end"><span>20 مرداد 1400</span> - <span>پرداخت شده</span></div>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="row py-2">
                                        <div class="col-12">

                                            <div class="row py-3 border border-1">
                                                <div class="col-12 col-md-4 py-2 py-md-0 text-center text-md-start">
                                                    <img src="../assets/images/logo.png" height="50px">
                                                    روبیک مارکت
                                                </div>
                                                <div class="col-12 col-md-4 py-2 py-md-0 text-center">
                                                    <strong>فاکتور فروش</strong>
                                                </div>
                                                <div class="col-12 col-md-4 py-2 py-md-0 text-center text-md-end">
                                                    <div>تاریخ خرید: 8 مرداد 1402</div>
                                                    <div>شماره سفارش: 1234</div>
                                                </div>
                                            </div>
                                            <div class="row border border-1">
                                                <div class="col-12 col-md-6 py-3 border border-1">
                                                    <strong>فروشنده</strong>
                                                    <div>فروشنده: روبیک مارکت</div>
                                                    <div>نشانی: تهران، سعادت آباد</div>
                                                    <div>تلفن: 09121234567</div>
                                                </div>
                                                <div class="col-12 col-md-6 py-3 border border-1">
                                                    <strong>خریدار</strong>
                                                    <div>آدرس: تهران، پاسداران</div>
                                                    <div>تلفن تماس: 09121234567</div>
                                                </div>
                                            </div>
                                            <div class="row py-3 border border-1">
                                                <div class="col-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>ردیف</th>
                                                                <th>شرح کالا</th>
                                                                <th>قیمت واحد (تومان)</th>
                                                                <th>تخفیف (تومان)</th>
                                                                <th>تعداد</th>
                                                                <th>قیمت کل (تومان)</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td nowrap="nowrap">گوشی موبایل سامسونگ مدل Galaxy A21s</td>
                                                                <td>12,000,000</td>
                                                                <td>1,000,000</td>
                                                                <td>1</td>
                                                                <td>11,000,000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td nowrap="nowrap">گوشی موبایل سامسونگ مدل Galaxy A21s</td>
                                                                <td>12,000,000</td>
                                                                <td>1,000,000</td>
                                                                <td>1</td>
                                                                <td>11,000,000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td nowrap="nowrap">گوشی موبایل سامسونگ مدل Galaxy A21s</td>
                                                                <td>12,000,000</td>
                                                                <td>1,000,000</td>
                                                                <td>1</td>
                                                                <td>11,000,000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td nowrap="nowrap">گوشی موبایل سامسونگ مدل Galaxy A21s</td>
                                                                <td>12,000,000</td>
                                                                <td>1,000,000</td>
                                                                <td>1</td>
                                                                <td>11,000,000</td>
                                                            </tr>
                                                            <tr>
                                                            <tr>
                                                                <td colspan="6" style="text-align: left">جمع فاکتور: 88,000,000 تومان</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" style="text-align: left">هزینه ارسال: 60,000 تومان</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" style="text-align: left">جمع کل: 88,060,000 تومان</td>
                                                            </tr>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Factors List -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 'content' %}