{% extends "inherit/base.html" %}
{% load static %}
{% block 'content' %}

<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>بازیابی رمز عبور</h1>
                            <p>رمز عبور خود را بازیابی کنید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="assets/images/reset-password.png" alt="">
                        </div>
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">بازیابی رمز</div>
                            <p>برای بازیابی رمز عبور، پست الکترونیک خود را وارد کنید.</p>
                            <div class="form-group">
                                <label for="email">پست الکترونیک :</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ارسال لینک بازیابی رمز عبور" class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 'content' %}