/* Colors */
$text-color: #282828;
$primary: #fcb941;
$secondary: #ef837b;
$lightgray: #ededed;
$darkgray: #282828;
/* /Colors */

/* Radius */
$min-radius: 3px;
$mid-radius: 5px;
$max-radius: 10px;
$circle-radius: 100%;
/* /Radius */
